#### Упражнение № 1
Создайте Series из каждого из элементов: списка, ndarray и словаря.

In [1]:
import pandas as pd
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

print('mylist:\n', pd.Series(mylist))
print('myarr:\n', pd.Series(myarr))
print('mydict:\n', pd.Series(mydict))

mylist:
 0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
myarr:
 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32
mydict:
 a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

#### Упражнение № 2
Преобразуйте `ser` в датафрейм с его индексом в качестве еще одного столбца датафрейма.

In [2]:
import pandas as pd
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = pd.DataFrame(ser)
print(df.reset_index())

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

#### Упражнение № 3
Объедините ser1 и ser2, чтобы сформировать датафрейм.

In [3]:
import pandas as pd
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
print(pd.DataFrame({'ser1': ser1, 'ser2': ser2}))

   ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

#### Упражнение № 4
Добавьте имя ряда  `ser`, назвав его `latin_letters`.

In [4]:
import pandas as pd
import numpy as np

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name='latin_letters')
print(ser)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: latin_letters, dtype: object

#### Упражнение № 5
Из `ser1` удалите элементы, присутствующие в `ser2`.

In [5]:
import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1 = ser1[~ser1.isin(ser2)]
print(ser1)

0    1
1    2
2    3
dtype: int64

#### Упражнение № 6
Получить все элементы `ser1` и `ser2`, которые не являются общими для обоих рядов.

In [6]:
import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1_without_ser2 = ser1[~ser1.isin(ser2)]
ser2_without_ser1 = ser2[~ser2.isin(ser1)]

print(pd.concat([ser1_without_ser2, ser2_without_ser1]))

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

#### Упражнение № 7
Вычислите минимальное значение, 25-й процентиль, медиану, 75-й процентиль и максимальное значение `ser`.

In [7]:
ser = pd.Series(np.random.normal(10, 5, 25))

print(f'Минимальное значение: {ser.min()}')
print(f'25-й процентиль: {ser.quantile(.25)}')
print(f'75-й процентиль: {ser.quantile(.75)}')
print(f'Максимальное значение: {ser.max()}')

Минимальное значение: 1.3581145756458604
25-й процентиль: 6.776857525656801
75-й процентиль: 14.977418069028278
Максимальное значение: 18.10539604235677

#### Упражнение № 8
Вычислите частоту встречаемости каждого уникального значения `ser`.

In [8]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print(ser.value_counts())

c    6
f    6
b    4
d    4
a    3
g    3
e    2
h    2
Name: count, dtype: int64

#### Упражнение № 9
Из `ser` оставить 2 наиболее часто встречающихся элемента без изменений, а все остальные заменить на `Прочее`.

In [9]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)

top_two_freq_ints = ser.value_counts().index[:2]
ser[~ser.isin(top_two_freq_ints)] = 'Прочее'

print(ser)

0     2
1     3
2     3
3     2
4     1
5     2
6     4
7     3
8     3
9     1
10    3
11    3
dtype: int32
0          2
1          3
2          3
3          2
4     Прочее
5          2
6     Прочее
7          3
8          3
9     Прочее
10         3
11         3
dtype: object

C:\Users\user\AppData\Local\Temp\ipykernel_17012\3317662493.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Прочее' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(top_two_freq_ints)] = 'Прочее'

#### Упражнение № 10

Разбейте ряд `ser` на 10 равных децилей и замените значения на название децил.

In [10]:
ser = pd.Series(np.random.random(20))
print(ser)
print(pd.qcut(ser, 10, labels=[f'{i}th' for i in range(1, 11)]))

0     0.857951
1     0.312802
2     0.913450
3     0.977896
4     0.004410
5     0.172326
6     0.007838
7     0.188895
8     0.165840
9     0.001428
10    0.224367
11    0.175352
12    0.341883
13    0.544389
14    0.636161
15    0.344636
16    0.948834
17    0.138655
18    0.343316
19    0.171092
dtype: float64
0      9th
1      6th
2      9th
3     10th
4      1th
5      4th
6      2th
7      5th
8      3th
9      1th
10     5th
11     4th
12     6th
13     8th
14     8th
15     7th
16    10th
17     2th
18     7th
19     3th
dtype: category
Categories (10, object): ['1th' < '2th' < '3th' < '4th' ... '7th' < '8th' < '9th' < '10th']

#### Упражнение № 11

Переформируйте ряд `ser` в датафрейм с 7 строками и 5 столбцаи

In [11]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7, 5))
print(ser)
print(df)

0     5
1     4
2     6
3     5
4     7
5     9
6     5
7     6
8     6
9     9
10    4
11    1
12    1
13    3
14    2
15    9
16    6
17    5
18    7
19    5
20    4
21    8
22    8
23    6
24    3
25    8
26    4
27    8
28    8
29    5
30    5
31    5
32    1
33    3
34    1
dtype: int32
   0  1  2  3  4
0  5  4  6  5  7
1  9  5  6  6  9
2  4  1  1  3  2
3  9  6  5  7  5
4  4  8  8  6  3
5  8  4  8  8  5
6  5  5  1  3  1

#### Упражнение № 12

Найти позиции чисел, кратных 3, из ряда `ser.

In [12]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
print('Позиции чисел, кратных 3:', ser[ser % 3 == 0].index)

0    7
1    4
2    6
3    1
4    9
5    6
6    8
dtype: int32
Позиции чисел, кратных 3: Index([2, 4, 5], dtype='int64')

#### Упражнение № 13

Из `ser` извлечь элементы, находящиеся на позициях в списке `pos.

In [13]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
print(ser)
print(ser[~ser.index.isin(pos)])

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
1     b
2     c
3     d
5     f
6     g
7     h
9     j
10    k
11    l
12    m
13    n
15    p
16    q
17    r
18    s
19    t
21    v
22    w
23    x
24    y
25    z
dtype: object

#### Упражнение № 14

Объедините `ser1` и `ser2` по вертикали и горизонтали (чтобы сформировать датафрейм.

In [14]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

df_ver = pd.concat([ser1, ser2], axis=1)
print(f'Объединение по вертикали:\n{df_ver}')

df_hor = pd.concat([ser1, ser2], axis=0)
print(f'Объединение по горизонали:\n{df_hor}')

Объединение по вертикали:
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
Объединение по горизонали:
0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

#### Упражнение № 15

Получите позиции элементов `ser2` в `ser1` в виде спис..

In [15]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

print(ser1[ser1.isin(ser2)].index.tolist())

[0, 4, 5, 8]

#### Упражнение № 16

Вычислить среднеквадратическую ошибку рядов `truth` и `pred
.

In [16]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
print(truth)
print(pred)
mse = np.mean((truth - pred)**2)
print(f'Среднеквадратическая ошибка: {mse}')

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    0.789599
1    1.518546
2    2.225439
3    3.610321
4    4.755105
5    5.160074
6    6.384913
7    7.144750
8    8.756757
9    9.871313
dtype: float64
Среднеквадратическая ошибка: 0.3412453895585628

#### Упражнение № 17

В каждом слове `ser` поставьте первый символ каждого слова в верхний регистр.

In [17]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
print(ser.str.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

#### Упражнение № 18

В каждом слове `ser` посчитайте число символов.

In [18]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
print(ser.str.len())

0    3
1    2
2    4
3    4
dtype: int64

#### Упражнение № 19

Вычислите разность разностей между последовательно идущими числами в `ser`.

In [19]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
diff = ser.diff()
print(diff)
diff_diff = diff.diff()
print(diff_diff)

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64
0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

#### Упражнение № 20

Преобразуйте строковое представление дат в `datetime64`.

In [20]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
dti = pd.Series([pd.to_datetime(date) for date in ser])
print(dti)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

#### Упражнение № 21

Получите из `ser` день месяца, номер недели, день года и день недели.

In [21]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
dti = pd.Series([pd.to_datetime(date) for date in ser])

print('Date:', dti.dt.day.tolist())
print('Week number:', dti.dt.isocalendar().week.tolist())
print('Day num of year:', dti.dt.dayofyear.tolist())
print('Day of week:', dti.dt.day_name().tolist())

Date: [1, 2, 3, 4, 5, 6]
Week number: [53, 5, 9, 14, 19, 23]
Day num of year: [1, 33, 63, 94, 125, 157]
Day of week: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

#### Упражнение № 22

Замените элементы `ser` на даты, начинающиеся с 4-го числа соответствующего месяца.

In [22]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
dti = pd.Series([pd.to_datetime(date).replace(day=4) for date in ser])
print(dti)

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

#### Упражнение № 23

Из `ser` извлеките слова, содержащие не менее 2 гласных букв.

In [24]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

def count_vowels(word):
    return sum(1 for letter in word if letter.lower() in 'aeiouy')

result = ser[ser.apply(count_vowels) >= 2]

print(result)

0     Apple
1    Orange
3    Python
4     Money
dtype: object

#### Упражнение № 24

Извлеките корректные адреса электронной почты из ряда `emails`. Шаблон регулярного выражения для корректных адресов электронной почты приведен в качестве образца.

In [27]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
print(emails[emails.str.contains(pattern)])

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

#### Упражнение № 25

Вычислить среднее значение веса в `weights` для каждого фрукта из `fruit`.

In [44]:
fruits = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
df = pd.DataFrame({'fruit': fruits, 'weight': weights})
print(df.groupby('fruit')['weight'].mean())

fruit
apple     5.000000
banana    4.666667
carrot    7.333333
Name: weight, dtype: float64