#### Упражнение № 1
Создайте Series из каждого из элементов: списка, ndarray и словаря.

In [1]:
import pandas as pd
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

print('mylist:\n', pd.Series(mylist))
print('myarr:\n', pd.Series(myarr))
print('mydict:\n', pd.Series(mydict))

mylist:
 0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
myarr:
 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32
mydict:
 a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

#### Упражнение № 2
Преобразуйте `ser` в датафрейм с его индексом в качестве еще одного столбца датафрейма.

In [2]:
import pandas as pd
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = pd.DataFrame(ser)
print(df.reset_index())

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

#### Упражнение № 3
Объедините ser1 и ser2, чтобы сформировать датафрейм.

In [3]:
import pandas as pd
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
print(pd.DataFrame({'ser1': ser1, 'ser2': ser2}))

   ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

#### Упражнение № 4
Добавьте имя ряда  `ser`, назвав его `latin_letters`.

In [4]:
import pandas as pd
import numpy as np

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name='latin_letters')
print(ser)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: latin_letters, dtype: object

#### Упражнение № 5
Из `ser1` удалите элементы, присутствующие в `ser2`.

In [5]:
import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1 = ser1[~ser1.isin(ser2)]
print(ser1)

0    1
1    2
2    3
dtype: int64

#### Упражнение № 6
Получить все элементы `ser1` и `ser2`, которые не являются общими для обоих рядов.

In [6]:
import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1_without_ser2 = ser1[~ser1.isin(ser2)]
ser2_without_ser1 = ser2[~ser2.isin(ser1)]

print(pd.concat([ser1_without_ser2, ser2_without_ser1]))

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

#### Упражнение № 7
Вычислите минимальное значение, 25-й процентиль, медиану, 75-й процентиль и максимальное значение `ser`.

In [7]:
ser = pd.Series(np.random.normal(10, 5, 25))

print(f'Минимальное значение: {ser.min()}')
print(f'25-й процентиль: {ser.quantile(.25)}')
print(f'75-й процентиль: {ser.quantile(.75)}')
print(f'Максимальное значение: {ser.max()}')

Минимальное значение: 4.905931921872496
25-й процентиль: 8.365777149335319
75-й процентиль: 12.817610168955047
Максимальное значение: 20.569948041476646

#### Упражнение № 8
Вычислите частоту встречаемости каждого уникального значения `ser`.

In [8]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print(ser.value_counts())

f    7
h    6
b    5
d    4
e    3
g    2
c    2
a    1
Name: count, dtype: int64

#### Упражнение № 9
Из `ser` оставить 2 наиболее часто встречающихся элемента без изменений, а все остальные заменить на `Прочее`.

In [9]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)

top_two_freq_ints = ser.value_counts().index[:2]
ser[~ser.isin(top_two_freq_ints)] = 'Прочее'

print(ser)

0     1
1     2
2     4
3     2
4     4
5     2
6     3
7     3
8     2
9     2
10    4
11    1
dtype: int32
0     Прочее
1          2
2          4
3          2
4          4
5          2
6     Прочее
7     Прочее
8          2
9          2
10         4
11    Прочее
dtype: object

C:\Users\user\AppData\Local\Temp\ipykernel_12052\3317662493.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Прочее' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(top_two_freq_ints)] = 'Прочее'

#### Упражнение № 10

Разбейте ряд `ser` на 10 равных децилей и замените значения на название децил.

In [10]:
ser = pd.Series(np.random.random(20))
print(ser)
print(pd.qcut(ser, 10, labels=[f'{i}th' for i in range(1, 11)]))

0     0.772365
1     0.061718
2     0.771065
3     0.784734
4     0.082628
5     0.982146
6     0.558619
7     0.454546
8     0.624457
9     0.409010
10    0.145068
11    0.656468
12    0.366283
13    0.396335
14    0.336585
15    0.851949
16    0.674631
17    0.390047
18    0.499817
19    0.345356
dtype: float64
0      9th
1      1th
2      8th
3      9th
4      1th
5     10th
6      6th
7      5th
8      7th
9      5th
10     2th
11     7th
12     3th
13     4th
14     2th
15    10th
16     8th
17     4th
18     6th
19     3th
dtype: category
Categories (10, object): ['1th' < '2th' < '3th' < '4th' ... '7th' < '8th' < '9th' < '10th']

#### Упражнение № 11

Переформируйте ряд `ser` в датафрейм с 7 строками и 5 столбцаи

In [11]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7, 5))
print(ser)
print(df)

0     6
1     9
2     5
3     4
4     9
5     4
6     2
7     2
8     5
9     7
10    7
11    4
12    8
13    2
14    8
15    3
16    4
17    7
18    9
19    9
20    5
21    4
22    1
23    5
24    7
25    1
26    4
27    5
28    4
29    8
30    8
31    9
32    3
33    1
34    9
dtype: int32
   0  1  2  3  4
0  6  9  5  4  9
1  4  2  2  5  7
2  7  4  8  2  8
3  3  4  7  9  9
4  5  4  1  5  7
5  1  4  5  4  8
6  8  9  3  1  9

#### Упражнение № 12

Найти позиции чисел, кратных 3, из ряда `ser.

In [12]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
print('Позиции чисел, кратных 3:', ser[ser % 3 == 0].index)

0    6
1    1
2    4
3    3
4    9
5    4
6    9
dtype: int32
Позиции чисел, кратных 3: Index([0, 3, 4, 6], dtype='int64')

#### Упражнение № 13

Из `ser` извлечь элементы, находящиеся на позициях в списке `pos.

In [13]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
print(ser)
print(ser[~ser.index.isin(pos)])

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
1     b
2     c
3     d
5     f
6     g
7     h
9     j
10    k
11    l
12    m
13    n
15    p
16    q
17    r
18    s
19    t
21    v
22    w
23    x
24    y
25    z
dtype: object

#### Упражнение № 14

Объедините `ser1` и `ser2` по вертикали и горизонтали (чтобы сформировать датафрейм.

In [14]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

df_ver = pd.concat([ser1, ser2], axis=1)
print(f'Объединение по вертикали:\n{df_ver}')

df_hor = pd.concat([ser1, ser2], axis=0)
print(f'Объединение по горизонали:\n{df_hor}')

Объединение по вертикали:
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
Объединение по горизонали:
0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

#### Упражнение № 15

Получите позиции элементов `ser2` в `ser1` в виде спис..

In [15]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

print(ser1[ser1.isin(ser2)].index.tolist())

[0, 4, 5, 8]

#### Упражнение № 16

Вычислить среднеквадратическую ошибку рядов `truth` и `pred
.

In [16]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
print(truth)
print(pred)
mse = np.mean((truth - pred)**2)
print(f'Среднеквадратическая ошибка: {mse}')

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    0.454004
1    1.157122
2    2.574680
3    3.807922
4    4.515135
5    5.074044
6    6.377109
7    7.864741
8    8.639328
9    9.180096
dtype: float64
Среднеквадратическая ошибка: 0.2815810782480717

#### Упражнение № 17

В каждом слове `ser` поставьте первый символ каждого слова в верхний регистр.

In [17]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
print(ser.str.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

#### Упражнение № 18

В каждом слове `ser` посчитайте число символов.

In [18]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
print(ser.str.len())

0    3
1    2
2    4
3    4
dtype: int64

#### Упражнение № 19

Вычислите разность разностей между последовательно идущими числами в `ser`.

In [19]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
diff = ser.diff()
print(diff)
diff_diff = diff.diff()
print(diff_diff)

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64
0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

#### Упражнение № 20

Преобразуйте строковое представление дат в `datetime64`.

In [20]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
dti = pd.Series([pd.to_datetime(date) for date in ser])
print(dti)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

#### Упражнение № 21

Получите из `ser` день месяца, номер недели, день года и день недели.

In [21]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
dti = pd.Series([pd.to_datetime(date) for date in ser])

print('Date:', dti.dt.day.tolist())
print('Week number:', dti.dt.isocalendar().week.tolist())
print('Day num of year:', dti.dt.dayofyear.tolist())
print('Day of week:', dti.dt.day_name().tolist())

Date: [1, 2, 3, 4, 5, 6]
Week number: [53, 5, 9, 14, 19, 23]
Day num of year: [1, 33, 63, 94, 125, 157]
Day of week: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

#### Упражнение № 22

Замените элементы `ser` на даты, начинающиеся с 4-го числа соответствующего месяца.

In [22]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
dti = pd.Series([pd.to_datetime(date).replace(day=4) for date in ser])
print(dti)

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

#### Упражнение № 23

Из `ser` извлеките слова, содержащие не менее 2 гласных букв.

In [23]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

def count_vowels(word):
    return sum(1 for letter in word if letter.lower() in 'aeiouy')

result = ser[ser.apply(count_vowels) >= 2]

print(result)

0     Apple
1    Orange
3    Python
4     Money
dtype: object

#### Упражнение № 24

Извлеките корректные адреса электронной почты из ряда `emails`. Шаблон регулярного выражения для корректных адресов электронной почты приведен в качестве образца.

In [24]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
print(emails[emails.str.contains(pattern)])

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

#### Упражнение № 25

Вычислить среднее значение веса в `weights` для каждого фрукта из `fruit`.

In [25]:
fruits = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
df = pd.DataFrame({'fruit': fruits, 'weight': weights})
print(df.groupby('fruit')['weight'].mean())

fruit
apple     5.6
banana    7.0
carrot    3.0
Name: weight, dtype: float64

### Упражнение № 26
Вычислить [евклидово расстояние](https://en.wikipedia.org/wiki/Euclidean_distance) между векторами $p$ и $q$, не используя встроенную формулу.

In [26]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

euclidean_distance = ((p - q) ** 2).sum() ** 0.5
print(euclidean_distance)

18.16590212458495

### Упражнение № 27
Получите позиции пиков (значений, окруженных с двух сторон меньшими значениями) в `ser`.

In [27]:
from scipy.signal import find_peaks
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
peaks, _ = pd.Series(find_peaks(ser))
print(peaks)

[1 5 7]

### Упражнение № 28
Замените пробелы в `my_str` на наименее часто встречающийся символ.

In [28]:
from collections import Counter
my_str = 'dbc deb abed gade'
counts = Counter(my_str.replace(' ', ''))
last_frequent_char = min(counts, key=counts.get)
print(my_str.replace(' ', last_frequent_char))

dbccdebcabedcgade

### Упражнение № 29
Создайте временной ряд, начинающийся с `2000-01-01`, содержащий 10 субботних дней после этого и имеющий в качестве значений случайные числа

In [29]:
dates = pd.date_range('2000-01-01', periods=10, freq='W-SAT')
ser = pd.Series(np.random.randint(1, 10, 10), index=dates)
print(ser)

2000-01-01    4
2000-01-08    6
2000-01-15    7
2000-01-22    1
2000-01-29    3
2000-02-05    1
2000-02-12    5
2000-02-19    9
2000-02-26    3
2000-03-04    8
Freq: W-SAT, dtype: int32

### Упражнение № 30
В `ser` отсутствуют некоторые даты и значения. Сделайте так, чтобы все отсутствующие даты появились и заполнились значением из предыдущей даты.

In [31]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser.resample('D').ffill())

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

### Упражнение № 31
Вычислите автокорреляции для первых 10 лагов `ser`. Определите, какой из лагов имеет наибольшую корреляцию. (см. также [Модель авторегрессии и распределённого лага — Википедия](https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C_%D0%B0%D0%B2%D1%82%D0%BE%D1%80%D0%B5%D0%B3%D1%80%D0%B5%D1%81%D1%81%D0%B8%D0%B8_%D0%B8_%D1%80%D0%B0%D1%81%D0%BF%D1%80%D0%B5%D0%B4%D0%B5%D0%BB%D1%91%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BB%D0%B0%D0%B3%D0%B0))

In [42]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
autocor = [ser.autocorr(i) for i in range(1, 11)]
print(ser)
print(autocor)
print(np.argmax(np.abs(autocor)))

0      0.661960
1      3.845233
2      5.146235
3     -0.722808
4     -5.870856
5     -0.308616
6     -1.554441
7      5.319986
8      8.100190
9     -0.311733
10    22.334020
11     5.550219
12    24.496327
13    25.025926
14    29.491658
15    12.998383
16    21.032812
17    61.884659
18    14.209333
19    20.257244
dtype: float64
[0.3780379390784078, 0.41338657074957497, 0.6417981837574367, 0.5666009788180538, 0.4625583883167321, 0.14053305500724933, 0.5145333948709784, -0.23843337880773516, 0.16149935404079033, 0.058682603099068226]
2

### Упражнение № 32
Импортируйте каждую 50-ю строку набора данных [BostonHousing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) в виде датафрейма.

In [52]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
boston_housing_dataset = pd.read_csv(url, skiprows=lambda row: row % 50 != 0)
print(boston_housing_dataset)

      crim  zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.21977   0   6.91     0  0.448  5.602  62.0  6.0877    3  233     17.9
1  0.06860   0   2.89     0  0.445  7.416  62.5  3.4952    2  276     18.0
2  2.73397   0  19.58     0  0.871  5.597  94.9  1.5257    5  403     14.7
3  0.03150  95   1.47     0  0.403  6.975  15.3  7.6534    3  402     17.0
4  0.19073  22   5.86     0  0.431  6.718  17.5  7.8265    7  330     19.1
5  0.05561  70   2.24     0  0.400  7.041  10.0  7.8278    5  358     14.8
6  0.02899  40   1.25     0  0.429  6.939  34.5  8.7921    1  335     19.7
7  9.91655   0  18.10     0  0.693  5.852  77.8  1.5004   24  666     20.2
8  7.52601   0  18.10     0  0.713  6.417  98.3  2.1850   24  666     20.2
9  0.17783   0   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2

        b  lstat  medv
0  396.90  16.20  19.4
1  396.90   6.19  33.2
2  351.85  21.45  15.4
3  396.90   4.56  34.9
4  393.74   6.56  26.2
5  371.58   4.74  29.0
6  389.85   5.89  26.6
7  338.16  29.97   6.3
8  304.21  19.31  13.0
9  395.77  15.10  17.5

### Упражнение № 33
Импортируйте набор данных [boston housing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv), но при импорте измените столбец `'medv'` (*median house value*) так, чтобы значения < 25 стали `Low`, а > 25 - `High`.

In [59]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
boston_housing_dataset = pd.read_csv(url)
boston_housing_dataset['medv'] = boston_housing_dataset['medv'].apply(lambda x: 'High' if x > 25 else 'Low')
print(boston_housing_dataset)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98   Low
1       17.8  396.90   9.14   Low
2       17.8  392.83   4.03  High
3       18.7  394.63   2.94  High
4       18.7  396.90   5.33  High
..       ...     ...    ...   ...
501     21.0  391.99   9.67   Low
502     21.0  396.90   9.08   Low
503     21.0  396.90   5.64   Low
504     21.0  393.45   6.48   Low
505     21.0  396.90   7.88   Low

[506 rows x 14 columns]

### Упражнение № 34
Создайте датафрейм со строками в виде шагов (интервалов) заданного ряда

In [73]:
L = pd.Series(range(15))
df = pd.DataFrame([L[i:i+4].values for i in range(0, len(L)-3, 2)])
print(df)

    0   1   2   3
0   0   1   2   3
1   2   3   4   5
2   4   5   6   7
3   6   7   8   9
4   8   9  10  11
5  10  11  12  13

### Упражнение № 35
Импортируйте столбцы 'crim' и 'medv' из набора данных [BostonHousing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) в виде датафрейма.

In [76]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
boston_housing_dataset = pd.read_csv(url, usecols=['crim', 'medv'])
print(boston_housing_dataset)

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

### Упражнение № 36
Получите количество строк, столбцов, тип данных и суммарную статистику каждого столбца набора данных [Cars93](https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv). Также получите эквивалент датафрейма в виде numpy-массива и списка.

In [87]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
data = pd.read_csv(url)
numpy_arr = data.to_numpy()
list = data.values.tolist()
print(data.info())
print(f'\nNumpy-массив:\n {numpy_arr}')
print(f'\nСписок:\n {list}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        89 non-null     object
 1   Model               92 non-null     object
 2   Type                90 non-null     object
 3   Min.Price           86 non-null     float64
 4   Price               91 non-null     float64
 5   Max.Price           88 non-null     float64
 6   MPG.city            84 non-null     float64
 7   MPG.highway         91 non-null     float64
 8   AirBags             55 non-null     object
 9   DriveTrain          86 non-null     object
 10  Cylinders           88 non-null     object
 11  EngineSize          91 non-null     float64
 12  Horsepower          86 non-null     float64
 13  RPM                 90 non-null     float64
 14  Rev.per.mile        87 non-null     float64
 15  Man.trans.avail     88 non-null     object
 16  Fuel.tank.capacity  85 non-null     float64
 17  Passengers          91 non-null     float64
 18  Length              89 non-null     float64
 19  Wheelbase           92 non-null     float64
 20  Width               87 non-null     float64
 21  Turn.circle         88 non-null     float64
 22  Rear.seat.room      89 non-null     float64
 23  Luggage.room        74 non-null     float64
 24  Weight              86 non-null     float64
 25  Origin              88 non-null     object
 26  Make                90 non-null     object
dtypes: float64(18), object(9)
memory usage: 19.7+ KB
None

Numpy-массив:
 [['Acura' 'Integra' 'Small' ... 2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' ... 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' ... 3375.0 'non-USA' 'Audi 90']
 ...
 ['Volkswagen' 'Corrado' 'Sporty' ... 2810.0 'non-USA'
  'Volkswagen Corrado']
 ['Volvo' '240' 'Compact' ... 2985.0 'non-USA' 'Volvo 240']
 [nan '850' 'Midsize' ... 3245.0 'non-USA' 'Volvo 850']]

Список: